<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/perfil.css}">
    <link rel="stylesheet" th:href="@{/css/card.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <title>Perfil</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<main id="perfil">
    <i id="icone-usuario" class="fa-solid fa-circle-user"></i>

    <form id="dados-edicao" th:action="@{/usuario/atualizar/{id}(id=${session.usuarioLogado.idUsuario})}" method="post">
        <div class="dados-usuario">
            <label for="nomeusuario" class="label-dado">Nome de usuário:</label>
            <input readonly id="nomeusuario" class="dado-usuario" th:value="${session.usuarioLogado.nomeUsuario}">
        </div>

        <div class="dados-usuario">
            <label for="nomecompleto" class="label-dado">Nome Completo:</label>
            <input id="nomecompleto" name="nomeCompleto" class="dado-usuario edicao" th:value="${session.usuarioLogado.nomeCompleto}">
        </div>

        <div class="dados-usuario">
            <label for="email" class="label-dado">E-mail:</label>
            <input id="email" name="email" class="dado-usuario edicao" th:value="${session.usuarioLogado.email}">
        </div>

        <div id="botoes-perfil">
            <a class="botao cancelar" th:href="@{/perfil}">Cancelar edição</a>
            <button type="submit" class="botao salvar">
                Salvar informações <i class="fa-solid fa-floppy-disk"></i>
            </button>
        </div>

    </form>

    <div id="confirmModal" class="modal" style="display:none">
        <div class="modal-content">
            <h2>Confirmar Exclusão</h2>
            <p>Tem certeza que deseja excluir a sua conta?</p>
            <div class="modal-actions">
                <button type="button" onclick="fecharModal()">Cancelar</button>
                <form th:action="@{/usuario/excluir/{id}(id=${session.usuarioLogado.idUsuario})}" method="POST">
                    <button type="submit" class="danger">Excluir</button>
                </form>
            </div>
        </div>
    </div>
</main>
<script th:src="@{/js/card.js}"></script>
</body>
</html>