<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuário</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/formulario-usuario.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
</head>
<body>
<div th:insert="fragments/header :: header"></div>

<main>
    <form class="formulario" th:object="${usuario}" th:action="@{/usuarios}" method="post">
        <h1>Cadastro de Usuário</h1>

        <div th:if="${erroCadastro}" class="erro-geral" th:text="${erroCadastro}"></div>

        <label class="label-input" for="nomeCompleto">Nome completo:</label>
        <input id="nomeCompleto" type="text" th:field="*{nomeCompleto}" class="campo" required>
        <div class="erro-container">
            <span class="erro" th:if="${#fields.hasErrors('nomeCompleto')}" th:errors="*{nomeCompleto}"></span>
        </div>

        <label class="label-input" for="nomeUsuario">Nome de usuário:</label>
        <input id="nomeUsuario" type="text" th:field="*{nomeUsuario}" class="campo" required>
        <div class="erro-container">
            <span class="erro" th:if="${#fields.hasErrors('nomeUsuario')}" th:errors="*{nomeUsuario}"></span>
        </div>

        <label class="label-input" for="email">E-mail:</label>
        <input id="email" type="email" th:field="*{email}" class="campo" required>
        <div class="erro-container">
            <span class="erro" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>

        <label class="label-input" for="senha">Senha:</label>
        <input id="senha" type="password" th:field="*{senha}" class="campo" required>
        <div class="erro-container">
            <span class="erro" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></span>
        </div>

        <label class="label-input" for="telefone">Telefone:</label>
        <input id="telefone" type="text" th:field="*{telefone}" class="campo">
        <div class="erro-container">
            <span class="erro" th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></span>
        </div>

        <label class="label-input" for="linkedin">LinkedIn:</label>
        <input id="linkedin" type="url" th:field="*{linkedin}" class="campo">
        <div class="erro-container">
            <span class="erro" th:if="${#fields.hasErrors('linkedin')}" th:errors="*{linkedin}"></span>
        </div>

        <label class="label-input" for="areaAtuacao">Área de atuação:</label>
        <input id="areaAtuacao" type="text" th:field="*{areaAtuacao}" class="campo" required>
        <div class="erro-container">
            <span class="erro" th:if="${#fields.hasErrors('areaAtuacao')}" th:errors="*{areaAtuacao}"></span>
        </div>

        <button type="submit" class="botao proximo">Registrar</button>

        <p style="width: 80%; text-align: center; margin: 15px auto 0; font-size: 10pt;">
            Já possui uma conta?
            <a href="/login" style="color: #3c58b1; text-decoration: none; font-weight: 600;">Faça login aqui</a>
        </p>

    </form>
</main>
</body>
</html>