* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    background: #fff;
    border-radius: 10px;
    border:  1px solid #cccccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.card-processo{
    margin: 10px 0;
    width: 80%;
    max-width: 340px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dropdown span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #4caf50;
    border-radius: 50%;
    margin-right: 8px;
}

.dropdown select {
    border: none;
    background: none;
    font-size: 10pt;
    color: #333;
    outline: none;
    cursor: pointer;
}

.dropdown p {
    font-size: 10pt;
    color: #333;
}

.select-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8px;
    width: 100%;
}

.styled-select {
    width: 100%;
    padding: 8px;
    font-size: 10pt;
    color: #333;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.select-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #333;
    font-size: 12px;
}

.styled-select:hover {
    border-color: #a78bfa;
}

.styled-select:focus {
    border-color: #a78bfa;
    box-shadow: 0 0 5px rgba(167, 139, 250, 0.5);
}

.card h1 {
    font-size: 10pt;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 10pt;
    font-weight: 600;
    color: #666;
    margin-bottom: 5px;
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 10pt;
}

.inputs-exibicao {
    padding: 10px;
    background-color: #efefef;
    font-size: 16px;
    color: #3c3c3c;
    text-align: left;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.buttons button {
    width: 45%;
    padding: 10px;
    font-size: 10pt;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: #3c3c3c;
}

/* Estilos do Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}

.modal p {
    margin-bottom: 20px;
    color: #666;
}

.modal-content button {
    padding: 10px 20px;
    background-color: #FF6A6A;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

.modal-content button:hover {
    background-color: #9999F0;
}

.btn-save {
    background-color: #a1fa89;
}

.btn-delete {
    background-color: #fa8989;
}

.btn-edit {
    background-color: #BBBBF3;
}

.btn-cancel-edit {
    background-color: #BBBBF3;
}

#status{
    background-color: transparent;
    border: none;
}