* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container-card {
    width: 100%;
    height: 90vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-card .card {
    width: 80%;
    max-width: 340px;
}

.card {
    background: #fff;
    border-radius: 10px;
    border: 1px solid #cccccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}




.card-processo{
    margin: 10px 0;
    width: 80%;
    max-width: 340px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

#status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}

h1#titulo-processos-finalizados {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20pt;
    color: #333;
    text-align: center;
    margin: 20px 0;
}


/*.dropdown select {*/
/*    background-color: #efefef;*/
/*    font-size: 10pt;*/
/*    color: #333;*/
/*    cursor: pointer;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*}*/

.select-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.card select {
    width: 100%;
    padding: 8px;
    font-size: 10pt;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    outline: none;
}

/*.card select:focus {*/
/*    border-color: #a78bfa;*/
/*    box-shadow: 0 0 5px rgba(167, 139, 250, 0.5);*/
/*}*/

.card label {
    display: block;
    font-size: 10pt;
    font-weight: 600;
    color: #666;
    margin-bottom: 5px;
    text-align: left;
}

.card input{
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    font-size: 10pt;
    outline: none;
    border: none;
}

.card h1 {
    font-size: 15pt;
    margin: 10px 0 20px 0;
    color: #333;
}

.inputs-edicao {
    padding: 10px;
    background-color: #efefef;
    font-size: 16px;
    color: #3c3c3c;
    text-align: left;
    border:  none;
    border-radius: 5px;
}

#container-tipoContratacao-formaCandidatura {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

#container-tipoContratacao-formaCandidatura div, #container-modeloAtuacao-areaAtuacao div {
    width: 100%;
}

#container-modeloAtuacao-areaAtuacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.btn {
    font-size: 10pt;
    font-weight: 600;
    cursor: pointer;
    border: none;
    color: #3c3c3c;
    width:  100%;
    border-radius: 20px;
    padding: 10px;
}

/* Estilos do Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}

.modal p {
    margin-bottom: 20px;
    color: #666;
}

.modal-content button {
    padding: 10px 20px;
    background-color: #FF6A6A;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

.modal-content button:hover {
    background-color: #9999F0;
}

.modal-actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.save {
    background-color: #a1fa89;
}

.save:hover {
    background-color: #55aa3b;
    color: white;
}

.delete {
    background-color: #fa8989;
    margin-top: 10px;
}

.delete:hover {
    background-color: #b53838;
    color:  white;
}

.edit {
    background-color: #BBBBF3;
}

.edit:hover {
    background-color: #7070bc;
    color:  white;
}

.cancel-edit {
    background-color: #BBBBF3;
    margin-top: 10px;
}

.cancel-edit:hover {
    background-color: #7070bc;
    color:  white;
    margin-top: 10px;
}

#status{
    border: none;
}

#mensagemSucesso {
    position: fixed; /* Fixa a mensagem na tela */
    top: 20px; /* Distância do topo */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta para o centro */
    z-index: 9999; /* Garante que fique acima de outros elementos */
    background-color: #d1e7dd; /* Verde pastel */
    color: #0f5132; /* Texto verde escuro */
    border: 1px solid #badbcc; /* Borda verde claro */
    padding: 15px 25px; /* Espaçamento interno */
    border-radius: 8px; /* Cantos arredondados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
    font-size: 16px; /* Tamanho do texto */
    font-family: 'Arial', sans-serif; /* Tipografia suave */
    text-align: center; /* Centraliza o texto */
    font-weight: bold; /* Negrito */
    animation: slideDown 0.5s ease, fadeOut 0.5s ease 3s; /* Animação de entrada e saída */
    opacity: 0; /* Padrão escondido */
    visibility: hidden; /* Padrão escondido */
}

/* Animação de deslizar para baixo */
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translate(-50%, -30%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, 0);
        visibility: visible;
    }
}

/* Animação de fade-out */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.status-display {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    font-size: 10pt;
    color: #333;
    background-color: #efefef;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-weight: bold;
}


