* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.navbar {
    background-color: #3c58b1;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21pt;
}

.navbar button {
    background-color: transparent;
    border: 0;
    color: #ffffff;
    font-size: 18pt;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.candidatura {
    max-width: 425px;
}

.registro-candidatura, .configuracao-lembrete, .finalizar-candidatura {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

main h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22pt;
    font-weight: 500;
    line-height: 25pt;
    padding: 25px 0;
}

main h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
    font-weight: 500;
    padding: 0 0 10px 0;
}

.stepper {
    width: 75%;
    margin: 0 0 15px 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    color: #3a3a3a;
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45px;
}

.step-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid #3a3a3a;
    border-radius: 30px;
}

.step-nome {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 7pt;
    font-weight: 700;
}

.linha {
    width: 100%;
    border-bottom: 1px solid #3a3a3a;
    margin-top: -15px;
}

.atual {
    color: #3c58b1;
    border-color: #3c58b1;
}

.formulario {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-input {
    font-size: 10pt;
    width: 80%;
    padding: 2px 0;
    margin-left: -10px;
    text-align: left;
    font-weight: 600;
}

.campo {
    background-color: #ffffff;
    width: 80%;
    padding: 7px 5px;
    margin-bottom: 5px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    height: 15px;
}

.campo:focus {
    border-color: #3c58b1;
    outline: none;
}

.descricao {
    height: auto;
}

.tipo-contratacao, .receber-lembretes {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

.tipo-contratacao li, .receber-lembretes li {
    display: flex;
    gap: 5px;
    margin: 5px 0;
}

.tipo-contratacao label, .receber-lembretes label {
    font-size: 9pt;
    font-weight: 500;
}

.form-select {
    width: 83%;
    padding: 5px 0;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    margin-bottom: 5px;
}

.form-select:focus {
    border-color: #3c58b1;
    outline: none;
}

.local-candidatura {
    display: flex;
    justify-content: space-between;
    width: 83%;
}

.local-candidatura li {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.local-candidatura .form-select {
    width: 100%;
}

.local-candidatura .label-input {
    font-size: 10pt;
    width: 100%;
    padding: 2px 0;
    margin-left: 0;
    text-align: left;
    font-weight: 600;
}

.botao {
    width: 83%;
    background-color: #3a3a3a;
    color: #ffffff;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-radius: 25px;
}

.botao i {
    padding: 0 5px;
}

.proximo {
    background-color: #3c58b1;
}

.voltar {
    background-color: #df4646;
}

.habilidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 83%;
    max-height: 150px;
    overflow: auto;
    gap: 10px;
    margin: 5px 0 25px 0;
}

.habilidades .label-input {
    width: 100%;
    padding: 0;
    margin-left: 0;
}

.habilidade {
    background-color: #bbbbf3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 6px 7px;
    border-radius: 25px;
}

.habilidade p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    line-height: 9pt;
}

.habilidade button {
    background-color: transparent;
    border: none;
    font-size: 8pt;
    line-height: 8pt;
}

.por-semana, .datas-especificas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.esquerdo {
    width: 44%;
}

.direito {
    width: 33%;
}

#icone-finalizado {
    font-size: 70pt;
    color: #3c58b1;
}

#subtitulo-finalizado {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10pt;
    font-weight: 500;
    padding: 10px 0;
    width: 80%;
}