* {
    margin: 0;
    padding: 0;
}

#perfil {
    background-color: #3c58b1;
    width: 100%;
    padding-bottom: 90px;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#icone-usuario {
    color: #ffffff;
    font-size: 100px;
}

.dados-usuario {
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3px 0;
}

.label-dado {
    color: #ffffff;
    width: 80%;
    margin-left: -10px;
    font-size: 10pt;
    font-weight: 600;
}

.dado-usuario {
    width: 80%;
    padding: 5px;
    margin: 5px 0;
    font-size: 11pt;
    font-weight: 600;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
}

#dados-edicao {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.edicao {
    background-color: #ffffff;
    border: none;
    color: #000000;
}

.botao {
    width: 200px;
    font-weight: 600;
    padding: 7px 18px;
    margin-top: 10px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 25px;
    font-size: 11pt;
    cursor: pointer;
    transition: 0.3s;
}

.editar {
    background-color: #23367c;
}
.editar:hover {
    background-color: #27409e;
}

.excluir {
    background-color: #c52b2b;
}
.excluir:hover {
    background-color: #da2c2c;
}

.salvar {
    background-color: #438843;
}
.salvar:hover {
    background-color: #489f48;
}

.cancelar {
    text-decoration: none;
    text-align: center;
}


#botoes-perfil {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}